# Introduction to Python 1

* Why Python ?
* How to use Python ?
* Some useful command line codes
* Expressions and Variables
* Data types in Python
* Arithmatic and String Operations
* Data Structures in Python
* Input/Output in Python

**Minor Project 1**

## 1.1 Why Python ?

* Python is a general-purpose programming language developed by Guido Van Rossum and was named after Monty Python.  
* Python is simple and incredibly readable since it closely resembles the English language. 

* Python has clear, logical code which is easy to read and learn. It has tons of libraries and frameworks build to variety of tasks. Python helps to optimise the developers time rather than computer processing speed.

#### What can we do with Python ?

- Make cool games
- Read,write and edit excel files
- Make websites and softwares
- Automate emails
- Fill out forms
- Scrape data from internet
- Data Science and more

Python is a language that can be used in nearly every domain possible.

## 1.2 How to use Python ?

### Offline Environment

**1. Jupyter Notebook**

Easy to use, like a notebook, easy input and ouput.

- Anaconda : https://www.anaconda.com/
- MiniConda : https://docs.conda.io/en/latest/miniconda.html

**2. Python IDE**

Make for python and use for large programs. Have a lots of special functions.

- PyCharm : https://www.jetbrains.com/pycharm/
- Spyder : https://www.spyder-ide.org/

**3. Text Editors**

General editor for any text file, can work with python or any other language too.

- Atom : https://atom.io/
- Sublime Text : https://www.sublimetext.com/

4. Interactive Shell Command

### Online Environment

1. Google Colaboratory : https://colab.research.google.com

2. Replit : https://replit.com/

3. Jovian ML : https://jovian.ai/learn/data-analysis-with-python-zero-to-pandas

## 1.3 Some useful command line codes:

#### Command Line code for Windows

1. `cd` - For current working directory.
2. `dir` - For checking the files and folder in the directory.
3. `cd name\name\` - For moving up in the directory.
4. `cd ..` - For going back to home directory.
5. `cls` - To clear the screen

#### Command Line code for Linux and Mac

1. `pwd` - For current working directory.
2. `ls` - For checking the files and folder in the directory.
3. `cd name/name/` - For moving up in the directory.
4. `cd ..` - For going back to home directory.
5. `clear` - To clear the screen

## 1.4 Variables and Expressions

- Variables
- Varibale Assignment
- Reassignment
- Dynamic Typing
- built in words
- print()

### Variable Assignments:

In Python, a **variable** is a name you specify in your code that maps to a particular **object**, object **instance**, or value.

By defining variables, we can refer to things by names that make sense to us. Names for variables can only contain letters, underscores (`_`), or numbers (no spaces, dashes, or other characters). Variable names must start with a letter or underscore.

We use a single equals sign to assign labels to variables.

In [1]:
# Varibale assignment
a = 17

In [2]:
a

17

In [3]:
bhuges_age = 24
bhuges_age

24

In [4]:
ankush_age = 23
ankush_age

23

In [5]:
yamini_age = 22
yamini_age

22

In [6]:
yamini_name = "yamini"

In [7]:
yamini_name

'yamini'

In [8]:
# Assignment
count = 100

In [9]:
# Reassignment
count = 200

In [10]:
count

200

The names you use when creating these labels need to follow a few rules:

    1. Names can not start with a number.
    2. There can be no spaces in the name, use _ instead.
    3. Can't use any of these symbols :'",<>/?|\()!@#$%^&*~-+
    4. It's considered best practice (PEP8) that names are lowercase.
    5. Avoid using the characters 'l' (lowercase letter el), 'O' (uppercase letter oh), 
       or 'I' (uppercase letter eye) as single character variable names.
    6. Avoid using words that have special meaning in Python like "list" and "str"


Using variable names can be a very useful way to keep track of different variables in Python. For example:

In [11]:
pencil_cost = 5

In [12]:
Pen_cost = 20

In [13]:
total = pencil_cost + Pen_cost

In [14]:
total

25

## 1.5 Basic object types in Python

- object types
- type()

Everything in Python is an **object** and every object in Python has a **type**. Some of the basic types include:

1. **`int`** (integer; a whole number with no decimal place)
  - `10`
  - `-3`
2. **`float`** (float; a number that has a decimal place)
  - `7.41`
  - `-0.006`
3. **`str`** (string; a sequence of characters enclosed in single quotes, double quotes, or triple quotes)
  - `'this is a string using single quotes'`
  - `"this is a string using double quotes"`
  - `'''this is a triple quoted string using single quotes'''`
  - `"""this is a triple quoted string using double quotes"""`
4. **`bool`** (boolean; a binary value that is either true or false)
  - `True`
  - `False`
5. **`NoneType`** (a special type representing the absence of a value)
  - `None`

In [15]:
# Integer : Any positive or negetive number
number = 12
number

12

In [16]:
number = -234
number

-234

In [17]:
# To check the type of varaible
type(number)

int

In [18]:
# Float : Any digit with decimal value
number = 1.232432
number

1.232432

In [19]:
number = 0.121212
number

0.121212

In [20]:
# To check the type of varaible
type(number)

float

In [21]:
# String : Anything with alpha-numerical inside quote brackets
name = "Bhupesh"
name

'Bhupesh'

In [22]:
name = 'Ankush'
name

'Ankush'

In [23]:
# To check the type of varaible
type(name)

str

In [24]:
sentence = """This is a great day"""
sentence

'This is a great day'

In [25]:
# Making a big paragraph with triple quote brackets
"""
This is a string.
I like this string.
"""

'\nThis is a string.\nI like this string.\n'

In [26]:
print("""
This is a string.
I like this string.
""")

This is a string.
I like this string.

In [27]:
# Boolean : Either True of False
var = False
var

False

In [28]:
type(var)

bool

## 1.6 Arithmatic and String Operations

In Python, there are different types of **operators** (special symbols) that operate on different values.

### Arithmetic operators
  - **`+`** (addition)
  - **`-`** (subtraction)
  - **`*`** (multiplication)
  - **`/`** (division)
  - __`**`__ (exponent)
  - **`//`** (floor division)
  - **`%`** (modulo)

In [29]:
number1 = 5
number2 = 20
number3 = 12.5
number4 = -123
number5 = 100

In [30]:
print(number1)

5

In [31]:
# Addition
number1+number2

25

In [32]:
# Subtraction
number3-number4

135.5

In [33]:
# Multiplication
number1*number5

500

In [34]:
# Division
number5/number2

5.0

In [35]:
# Modulo : gives the remainder
21212%10

2

In [36]:
# Power
2**4

16

In [37]:
# Floor Division: gives the quotient
6//3

2

### Assignment operators
  - **`=`** (assign a value)
  - **`+=`** (add and re-assign; increment)
  - **`-=`** (subtract and re-assign; decrement)
  - **`*=`** (multiply and re-assign)

In [38]:
name = 1000

In [39]:
# Reassignment with increment
name = name + 12

In [40]:
name

1012

In [41]:
total = 111

In [42]:
total += total

In [43]:
ny_number = 12345

In [44]:
my_number -= total

NameError: name 'my_number' is not defined

In [56]:
number = 121

In [57]:
number *= 5
number

605

### Comparison operators (return either `True` or `False`)
  - **`==`** (equal to)
  - **`!=`** (not equal to)
  - **`<`** (less than)
  - **`<=`** (less than or equal to)
  - **`>`** (greater than)
  - **`>=`** (greater than or equal to)

In [58]:
number1 = 5
number2 = 20
number3 = 12.5
number4 = -123
number5 = 100
number6 = -50

In [59]:
# Equal To
number1 == 10

False

In [60]:
#Not Equal To
number2 != number6

True

In [61]:
# More Than
number3 > number4

True

In [62]:
# More Than or equal to
number3 >= number4

True

In [63]:
# Less Than
number5 <= number4

False

In [64]:
# Less Than or qual to
number5 <= number4

False

When multiple operators are used in a single expression, **operator precedence** determines which parts of the expression are evaluated in which order. Operators with higher precedence are evaluated first (like BODMAS in math). Operators with the same precedence are evaluated from left to right.

- `()` parentheses, for grouping
- `**` exponent
- `*`, `/` multiplication and division
- `+`, `-` addition and subtraction
- `==`, `!=`, `<`, `<=`, `>`, `>=` comparisons

In [65]:
(2/4*23+32(23*/3))

SyntaxError: invalid syntax (<ipython-input-65-200e5b7ca054>, line 1)

### Chained Comparision Operatators (With Logical Operators)

1. AND : Both conditions needs to be true
2. OR : One condition needs to be true
3. NOT : Just give the opposite of results

In [ ]:
'B' == 'B' and 2 == 3

In [66]:
2 < 5 or 3 > 5

True

In [67]:
'B' == 'B'

True

In [68]:
not 'B' == 'B'

False

### Strings

- print()
- output issue
- escape sequence

Strings are used in Python to record text information, such as names. Strings in Python are actually a *ordered sequence*, which basically means Python keeps track of every element in the string as a sequence. 

**`str`** (string; a sequence of characters enclosed in single quotes, double quotes, or triple quotes)
  - `'this is a string using single quotes'`
  - `"this is a string using double quotes"`
  - `'''this is a triple quoted string using single quotes'''`
  - `"""this is a triple quoted string using double quotes"""`
  
1. Creating Strings
2. Printing Strings

> Note: Subtraction, division, and decrement operators do not apply to strings.

In [69]:
greeting = "Hello, How are you ?"

In [70]:
greeting

'Hello, How are you ?'

In [71]:
"This is awesome!"
"You are awesome!"

'You are awesome!'

In [72]:
print(greeting)

Hello, How are you ?

In [73]:
print("Hello, How are you ?")

Hello, How are you ?

### String Indexing 

- indexing
- reverse/negetive indexing

We know strings are a sequence, which means Python can use indexes to call parts of the sequence.

In Python, we use brackets <code>[]</code> after an object to call its index. We should also note that indexing starts at 0 for Python.

In [74]:
name1 = "Bhupesh Chandrawanshi"

In [75]:
name1[5]

's'

In [76]:
name1[0]

'B'

### String Slicing

- `[start:stop:step]`

- `start` : include
- `stop` : up to but not include

In [77]:
name = "Bhupesh Chandrawanshi"

In [78]:
name[0:8]

'Bhupesh '

In [79]:
name[0:10:2]

'BuehC'

In [80]:
numbers = "123456789"

In [81]:
numbers[0:7]

'1234567'

In [82]:
numbers[0:7:3]

'147'

### String Properties
It's important to note that strings have an important property known as *immutability*. This means that once a string is created, the elements within it can not be changed or replaced.

In [83]:
# Immutability
name = "Ronald"

In [84]:
"Donald"

'Donald'

In [85]:
name[0] = 'D'

TypeError: 'str' object does not support item assignment

In [ ]:
# To overcome the error we can take the help of slicing
name[1:]

In [ ]:
# Concatenation: Adding two strings together
"R" + name[1:]

In [ ]:
# Another Example
name = "Garima"

In [ ]:
name

In [ ]:
name[0] = "Z"

In [ ]:
name = "Z"  + name[1:]

In [ ]:
name

In [ ]:
# Another Example
name = "Donald"
name = 'R' + name[1:]
print(name)

In [ ]:
name = 'D' + name[1:] + " Duck"

In [ ]:
name

In [ ]:
# Concatenation with varibale
greeting = "Hello"

In [ ]:
greeting = greeting + ", How are you ?"

In [ ]:
greeting

In [ ]:
# Drawback of dynamic typing
# We have to keep in mind what kind of varaible we are using
2 + 3

In [ ]:
"2" + "3"

## 1.7 Data Structures in Python

Containers are objects that can be used to group other objects together.

#### 1. **`str`** 

**Properties: string**
- Immutable
- Indexed by integers
- Items are stored in the order they were added

    Example: `'This is a string.'`

In [ ]:
my_string = "This is a string."

In [ ]:
# Immuutable
my_string[10] = "W"

In [ ]:
#Indexed by numbers
my_string[10]

#### 2. **`list`** 

**Properties: list**
- Mutable
- Indexed by integers
- Items are stored in the order they were added

    Example: `[3, 5, 6, 3, 'dog', 'cat', False]`

In [ ]:
my_list = [3, 3.0, 5, 6, 3, 'dog', 'cat', False]

In [ ]:
print(my_list)

In [ ]:
# How to make a list ?
new_list = [1,2.00,3.2121,"Four",True,None]

In [ ]:
new_list

In [ ]:
# How to use indexing with a list ?

In [ ]:
new_list[3]

In [ ]:
new_list[1]

In [ ]:
# Mutalibility of lits

In [ ]:
new_list[0] = "Added"

In [ ]:
new_list

In [ ]:
new_list = new_list[2::2]

In [ ]:
new_list

In [ ]:
type(new_list)

In [ ]:
len(new_list)

In [ ]:
# Branching in List
new_list = ["1",2,3,["a","b","abcde",["A","B","C"]]]
print(new_list)

In [ ]:
len(new_list)

In [ ]:
print(new_list)

In [ ]:
new_list[3][3][0]

In [ ]:
new_list[3][2] = "abpde"

In [ ]:
new_list

#### 3. **`tuple`**

**Properties: tuple** 
- Immutable
- Indexed by integers
- Items are stored in the order they were added

    Example: `(3, 5, 6, 3, 'dog', 'cat', False)`

In [86]:
my_tuple = (3, 3, 5, 6, 3, 'dog', 'cat', False)

In [87]:
my_tuple

(3, 3, 5, 6, 3, 'dog', 'cat', False)

In [88]:
# Immutable
my_tuple[0] = 4

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Indexed in ordered sequence
new_tuple[3:5]

In [ ]:
# Addition of two tuples
new_tuple + my_tuple

In [ ]:
# How to use indexing with a tuple ?
new_tuple[0]

In [ ]:
# Immutalibility of tuple
my_tuple[0] = 4

#### 4. **`set`**

**Properties: set** 
- Mutable
- Not indexed at all
- Items are NOT stored in the order they were added
- Can only contain immutable objects
- Does NOT contain duplicate objects

    Example: `{3, 5, 6, 3, 'dog', 'cat', False}`

In [ ]:
my_set = {3, 3, 5, 5, 6, 3, 'dog', 'cat', False}

In [ ]:
my_set

In [ ]:
# How to make a tuple ?

In [ ]:
my_set2 = {2,2,2,2,2,2,2,2,2,2,2,2,2}

In [ ]:
my_set2

In [ ]:
# How to use indexing with a tuple ?
my_set2[0]

#### 5. **`dict`**

**Properties: dictionary** 
- Mutable
- Key-value pairs are indexed by immutable keys
- Items are NOT stored in the order they were added
- Keys can't be numbers

    Example: `{'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish']}`

In [ ]:
my_dict = {'name': ['Bhupesh','Ankush', "Garima"],
           'age': [24,23,22],
           'fav_foods': ['Kadhai Paneer',"Burger" ,'Pizza']}

In [ ]:
# Addding new key-value pair to the dictionary
my_dict[24] = 24

In [ ]:
my_dict

In [ ]:
# Make a long branched dictionary
my_dict={"name": "Garima", 
         "age": 21, 
         "fav_foods": {"Foreign Cuisine":["Ramen", "Thai curry", "Katstu Curry"],"Drinks":["Smoothie", "green tea"]}}

In [ ]:
my_dict

In [ ]:
# How to use indexing with a dict ?
my_dict["name"]

In [ ]:
my_dict["fav_foods"]["Drinks"][0]

**Note**: 
- When defining lists, tuples, or sets, use commas (,) to separate the individual items.
- When defining dicts, use a colon (:) to separate keys from values and commas (,) to separate the key-value pairs.

Strings, lists, and tuples are all **sequence types** that can use the `+`, `*`, `+=`, and `*=` operators.

### Quentions to try

1. Make a new list, check its length, add a new list
2. Make a new tuple check its length. add another tuple
3. Try to add list and tuple
4. Make a new set, check its length, try to add another set
5. Try to add set to list and tuple.
6. Make a new dictionary with your name, age, location. Check its length and add a new dictionary to it.

## 1.8 Accessing data in containers

For strings, lists, tuples, and dicts, we can use **subscript notation** (square brackets) to access data at an index.

- strings, lists, and tuples are indexed by integers, **starting at 0** for first item
  - these sequence types also support accesing a range of items, known as **slicing**
  - use **negative indexing** to start at the back of the sequence
- dicts are indexed by their keys

> Note: sets are not indexed, so we cannot use subscript notation to access data elements.

In [ ]:
# Create some containers
list2 = ['car', 'plane', 'boat', 'train']
tuple2 = ('first', 'second', 'third', 'fourth')
dict2 = {'CPU':'Arm', 'Network':'WiFi', 'Storage':['SSD', 'Sata', 'Tape']}

In [ ]:
dict2["CPU"] = ["Arm","Leg"]

In [ ]:
dict2

### Questions to try:

* What is the first item in list2?
* What is the last item in list2?
* What are the first 3 items in tuple2?
* What is the value of dict2 for the CPU?
* What is the first type of Storage in dict2?

## 1.9 Input/Output in Python

#### Python Output Using print() function

We use the print() function to output data to the standard output device (screen).

#### Python Input Using input() function

Up until now, our programs were static. The value of variables was defined or hard coded into the source code.
To allow flexibility, we might want to take the input from the user. In Python, we have the input() function to allow this.

In [ ]:
input("Enter your name: ")

In [ ]:
name = input("Enter your name:")

In [ ]:
name

In [ ]:
type(name)

In [ ]:
number = input("Enter your fav number:")

In [ ]:
type(number)

In [ ]:
print(number)

In [ ]:
print(name)

In [ ]:
print("My number is " + number)

In [89]:
name = input("Enter you name: ")

Enter you name: Bhupesh

In [90]:
# How to add variables inside the string ?
print("My name is {}.".format(name))

My name is Bhupesh.

In [91]:
# How to take multiple input ?
name = input("Enter your name: ")
age = input("Enter your age: ")
food = input("Enter your fav food: ")

Enter your name: Yamini
Enter your age: 24
Enter your fav food: Pizza

In [92]:
string = "This is rainy day"

In [93]:
# .format() Method (Another method for print formatting)
print("My name is {}. My age is {}. My favourite food is {}.".format(name,age,food))

My name is Yamini. My age is 24. My favourite food is Pizza.

In [94]:
# Adding multiple variables with indexing
print("My name is {2}. My age is {1}. My favourite food is {0}.".format(name,age,food))

My name is Pizza. My age is 24. My favourite food is Yamini.

In [95]:
# Adding multiple variables with keywords
print("My name is {a}.\nMy age is {b}.\nMy favourite food is {c}.".format(a=name,b=age,c=food))

My name is Yamini.
My age is 24.
My favourite food is Pizza.

In [96]:
food = ["Birayni", "Pizza"]

In [97]:
name = "Bhupesh Chandrawanshi"

In [98]:
# Adding multiple variables with keywords
print("My name is {}.\nMy age is {}.\nMy favourite food is {}.".format(name[:3],age,food[0]))

My name is Bhu.
My age is 24.
My favourite food is Birayni.

In [99]:
# How to take multiple input ?
name = input("Enter your name: ")
age = input("Enter your age: ")
food = input("Enter your fav food: ")

Enter your name: Ankush
Enter your age: 24
Enter your fav food: Cake

In [100]:
# f-strings (Another method for print formatting)
print(f"My name is {name}. My age is {age}. My favourite food is {food}.")

My name is Ankush. My age is 24. My favourite food is Cake.

In [101]:
# Formatting the variables

In [102]:
age = 24.7648364346786
print(f"My age is {age:2.2f} years old")

My age is 24.76 years old

## 1.10 Input-Output with Files in Python

Working with `.txt` files for start.

### Open a text file

Functions we can use:

1. `open()` : To open the text file. 
2. `read()` : To read the whole text file in single go. To grab everything.
3. `readlines()` : To read the line sequentially. In a list format.
4. `seek(0)` : To reset the cursor

Thinsg to note:

- We need to load the file into a varibale, so we can use it.
- Once we used `read` command we are at the botttom of the file, i.e. the cursor is at the end.

Help:

- `pwd` : to locate the file path

In [103]:
pwd

'/home/buzzzer/Documents/My-Notes'

In [104]:
myfile = open("/home/buzzzer/Documents/My-Notes/example.txt")

In [105]:
print(myfile.read())

My name is Bhupesh.
I am 24 years old.

In [106]:
myfile.read()

''

In [107]:
# To call back the curser to zero position
myfile.seek(0)

0

In [108]:
myfile.read()

'My name is Bhupesh.\nI am 24 years old.\n'

In [109]:
print("My name is Bhupesh.\nI am 24 years old")

My name is Bhupesh.
I am 24 years old

In [110]:
myfile = open("/home/buzzzer/Desktop/untitled.txt")

In [111]:
#Readlines method to read all the lines in the file
lines = myfile.readlines()

In [112]:
lines

['This is\n',
 'a \n',
 'desktop\n',
 'that\n',
 'I\n',
 'am\n',
 'working\n',
 'on\n']

In [113]:
lines

['This is\n',
 'a \n',
 'desktop\n',
 'that\n',
 'I\n',
 'am\n',
 'working\n',
 'on\n']

In [114]:
myfile.seek(0)

0

In [115]:
lines = myfile.readlines()

In [116]:
lines

['This is\n',
 'a \n',
 'desktop\n',
 'that\n',
 'I\n',
 'am\n',
 'working\n',
 'on\n']

In [117]:
print(lines[0] + "\n" + lines[1])

This is

a

### Close a file

There is a problem with `open` function. We can't edit, delete or do anything with the file. Unless we close it, it'll throw an error if we try that.

1. `close` : To close any file.

In [118]:
myfile.close()

### Another way to open a file

1. `with open()` : An alternative way to to open a file without better solutions to our issue.

In [119]:
with open("example.txt") as myfile:
    content =  myfile.read()

In [120]:
content

'My name is Bhupesh.\nI am 24 years old.\n'

In [121]:
content

'My name is Bhupesh.\nI am 24 years old.\n'

In [122]:
print(content)

My name is Bhupesh.
I am 24 years old.

In [123]:
with open("example.txt") as myfile:
    content =  myfile.readlines()

In [124]:
content

['My name is Bhupesh.\n', 'I am 24 years old.\n']

In [125]:
content[1]

'I am 24 years old.\n'

In [126]:
content[0]

'My name is Bhupesh.\n'

## 1.11 Read, Write and Append Modes for Files in Python


1. Read Mode = `"r"` : Read Only Mode
2. Write Mode =  `"w` : Write Only Mode (For overwriting and creating a new file)
3. Append Mode = `"a"` : Append only (To add more lines in the file)

4. Read and Write = `"r+"` : Can do both read and write
5. Write and Read = `"w+"` : Can do both read and write (For overwriting and creating a new file)

## Minor Project 1

- Make a text file with all the codes we used so far.
- Have predefined syntax or form structure
- Take input for the forms or the blanks.
- Use all the data types in it